.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner {
  max-width: 700px;
  margin: 0 auto;
}

.wrapper {
  display:flex;
  margin: 20px 0;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #c7c9d1;
}

.task-list li {
  padding: 5px 5px;
  border-bottom: 1px solid #c7c9d1;
  display: flex;
  align-items: center;
  position: relative;
}

.task-list li .input {
  display: flex;
  border: none;
  width: 80%;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.task-list li .input:focus {
  border: solid 1px #c7c9d1;
  outline: 0;
}

.task-list li .btn {
  /* display: none; */
  /* width: 80px; */
  position: absolute;
  right: 10px;
  /* padding: 0.4em 1em; */
  font-size: 13px;
  /* z-index: 10; */
}

.inputForm {
  margin: 20px 0;
  background: #f9f3ee;
  padding: 30px 20px;
  border-bottom: 1px solid #c7c9d1;
}

.inputForm .input {
  width: 80%;
  font-size: 15px;
  outline: none;
  border: solid 1px #c7c9d1;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.dropdown-list {
  font-size: 15px;
  padding: 5px 5px;
  height:35px
}

.btn {
  font-size: 15px;
  display: inline-block;
  padding: 5px 15px;
  /* text-decoration: none; */
  /* background: #668ad8; */
  /* color: #FFF; */
  /* border-radius: 3px;
  outline: none; */
}

.btn.empty {
  margin-left: 20px;
  height: 35px;
}
